{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock head %}

{% block title %}
Chat
{% endblock title %}

{% block body %}
<div id="modal-userData" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-userData-title" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Body</p>
            </div>
            <div class="modal-footer">
                <button id="modal-userData-btnContact" class="btn-flat" data-dismiss="modal"
                    style="display:none;"></button>
                <button id="modal-userData-btnChat" class="btn-flat btn-flat-primary" data-dismiss="modal">Chat</button>
            </div>
        </div>
    </div>
</div>
<div id="chat-main-div">
    <div class="container-fluid justify-content-around">
        <div id="col-chat" class="col">
            <div id="chat-div">
                <div class="row">
                    <div class="col col-12 col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <div class="chat-div-titles">
                            <p class="chat-titles">{{ username }}</p>
                        </div>
                        <div id="chat-div-chat">
                            <div id="chat-div-messages">
                                <nav id="chat-div-messages-navbar" class="">
                                    <div class="row p-2">
                                        <div class="d-flex align-items-center col-1">
                                            <a id="chat-title-with-who" href="#"></a>
                                        </div>
                                        <div class="toogle-options row col-11">
                                            <div id="toggler-content-chat"
                                                class="toggler-content col-4">
                                                <!-- <a class="nav-item nav-link active" href="#">Search users<span class="sr-only">(current)</span></a> -->
                                                <div class="div-input-search">
                                                    <input id="input-search-users" class="input-form" type="search"
                                                        list="list-users" placeholder="Search friends!"
                                                        aria-label="Search" autocomplete="off">
                                                    <datalist id="list-users"></datalist>
                                                </div>
                                            </div>
                                            <div class="toggler-area col-1">
                                                <img class="toggler-options-arrow expand-options-arrow"
                                                    data-target="#toggler-content-chat" />
                                                <a href="https://icons8.com/icon/44002/flecha-ampliar"></a>
                                                <a href="https://icons8.com/icon/49419/flecha-contraer"></a>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                                <div id="chat-div-messages-inside">

                                </div>
                                <div id="chat-div-submit" class="row input-group mb-3 p-0 m-0">
                                    <div class="col-11 p-0 m-0">
                                        <input id="input-message" type="text" class="form-control"
                                            placeholder="Enter your message" aria-label="Username"
                                            aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group-prepend col-1 p-0 m-0">
                                        <button id="btn-submit-msg" class="btn btn-control">
                                            <img src="https://img.icons8.com/nolan/64/filled-sent.png" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="chat-div-titles">
                            <p class="chat-titles">Contacts</p>
                        </div>
                        <div id="chat-div-users">
                            <div id="chat-div-users-inside">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
<script src="{{ url_for('static', filename='js/components.js') }}"></script>
{% endblock body %}