@use 'base';
$color-chat: rgb(224, 241, 241);
$color-chat-message: rgba(181, 168, 214, 0.9);
$color-submit-message: $color-chat-message;
$color-div-user-normal: #ffffff;
$color-div-user-active: base.$color-primary-soft;

#chat-main-div {
    padding: 1vh 1vw 1vh 1vw;
    border: 2px solid base.$color-secondary;
    background-color: base.$color-primary;
    margin: 2vh 2vw 2vh 2vw;

    .col {
        border: 1px solid base.$color-secondary;
        overflow: hidden;

        .chat-div-titles {
            border-bottom: 1px solid base.$color-secondary;
            margin-bottom: 2vh;

            .chat-titles {
                font: 2.5vw fantasy, 'Gill Sans', 'Calibri', sans-serif;
                margin: 2vh 0 0 0;
            }
        }

        #chat-div-chat {
            #chat-div-messages {
                background-color: $color-chat;
                padding: 0;
                max-width: 100%;
                border-radius: 10px;

                #chat-div-messages-navbar {
                    background-color: $color-chat;
                    height: auto;
                    border-radius: 10px;
                }

                #chat-div-messages-inside {
                    background-color: darken(
                        $color: base.$body-color,
                        $amount: 1
                    );
                    // background-color: base.$body-color;
                    background-image: url('../img/bubble-message.png');
                    // background-repeat: no-repeat;
                    // background-attachment: fixed;
                    background-size: auto;
                    background-position: center;
                    padding: 2vh 0.5vw 2vh 0.5vw;
                    // overflow-y: scroll;
                    // overflow-x: hidden;
                    // scroll-behavior: smooth;
                    // overscroll-behavior: smooth;
                    height: 68vh;
                    max-width: 100%;

                    .div-message {
                        margin-top: 0.5vh;

                        .message-div-text {
                            max-width: 60%;
                            background-color: $color-chat-message;
                            padding: 1vh 1vw 0.8vh 1vw;

                            .title-author-message {
                                font: italic bold 1.2vw Georgia, serif;
                                margin: 0;
                            }

                            .message-content-text {
                                font: 1vw Georgia, serif;
                                margin: 0;
                                overflow-wrap: break-word;
                            }
                        }
                    }
                }
            }

            #chat-div-submit {
                background-color: $color-chat-message;
                visibility: hidden;
                overflow: hidden;

                #input-message {
                    // width: 90%;
                    background-color: transparent;
                    border: none;
                    padding-left: 0.5%;
                }

                // #chat-div-submit-btn {

                #btn-submit-msg {
                    background-color: transparent;
                    border: none;
                    // width: 9%;
                    height: 100%;

                    img {
                        content: url('https://img.icons8.com/nolan/35/filled-sent.png');
                    }
                }

                // }
            }
        }

        #chat-div-users {
            height: 90%;

            #chat-div-users-inside {
                overflow-y: scroll;
                overflow-x: hidden;
                scroll-behavior: smooth;
                overscroll-behavior: smooth;
                background-color: #ffffff;
                height: inherit;

                .div-user {
                    //display: flex;
                    //flex-wrap: nowrap;
                    //flex-direction: row;
                    background-color: $color-div-user-normal;
                    border: 1px solid grey;

                    :hover {
                        cursor: pointer;
                        background-color: $color-div-user-active;
                    }
                    .p-user-title {
                        font-size: 1.6vw;
                        margin: 0;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    #input-message {
        width: 90%;
        height: 35px;
    }
    #btn-submit-msg {
        width: 9%;

        img {
            width: 35px !important;
            height: 35px !important;
        }
    }
}
@media screen and (min-width: 992px) {
    #input-message {
        width: 90%;
        height: 30px;
    }
    #btn-submit-msg {
        width: 9%;

        img {
            width: 30px !important;
            height: 30px !important;
        }
    }
}
@media screen and (min-width: 768px) {
    #input-message {
        width: 90%;
        height: 25px;
    }
    #btn-submit-msg {
        width: 9%;

        img {
            width: 25px !important;
            height: 25px !important;
        }
    }
}
@media screen and (min-width: 576px) {
    #input-message {
        width: 90%;
        height: 20px;
    }
    #btn-submit-msg {
        width: 9%;

        img {
            width: 20px !important;
            height: 20px !important;
        }
    }
}
@media screen and (max-width: 576px) {
    #input-message {
        width: 80%;
        height: 15px;
    }
    #btn-submit-msg {
        width: 18%;

        img {
            width: 15px !important;
            height: 15px !important;
        }
    }
}
